<div class="container">
    <table class="table table-bordered text-light table-striped">
        <thead>
          <tr>
            <th scope="col">PID#</th>
            <th scope="col">NAME</th>
            <th scope="col">ADDRESS</th>
            <th scope="col">DISEASE</th>
            <th scope="col">HBPM</th>
            <th scope="col">SPO2</th>
            <th scope="col">TEMP</th>
            <th scope="col">BP</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Panruti</td>
            <td>HEART</td>
            <td>10</td>
            <td>20</td>
            <td>30</td>
            <td>40</td>
            <td>Normal</td>
          </tr>
         
        </tbody>
      </table>
</div>