<ul class="list-group">
  <li class="list-group-item list-group-item-info text-dark">
    <div class="row">

      <div class="col-3">
        <div class=" bg-info card p-2">
          <img src="/static/src/Roshan.jpeg" height="200px" width=200px class="rounded-circle p-2">
          <div class="card-body">
            <h5 class="text-center">Roshan</h5>
            <p class="text-center">BE INFORMATION TECHNOLOGY <br> 20218-2022 </p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class=" bg-info card p-2">
          <img src="/static/src/saravanan.jpeg" height="200px" width=200px class="rounded-circle p-2">
          <div class="card-body">
            <h5 class="text-center">Saravanan</h5>
            <p class="text-center">BE INFORMATION TECHNOLOGY <br> 20218-2022 </p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class=" bg-info card p-2">
          <img src="/static/src/veera.jpeg" height="200px" width=200px class="rounded-circle p-2">
          <div class="card-body">
            <h5 class="text-center">Veerabagh</h5>
            <p class="text-center">BE INFORMATION TECHNOLOGY <br> 20218-2022 </p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class=" bg-info card p-2">
          <img src="/static/src/vinoth.jpeg" height="200px" width=200px class="rounded-circle p-2">
          <div class="card-body">
            <h5 class="text-center">Vinoth</h5>
            <p class="text-center">BE INFORMATION TECHNOLOGY <br> 20218-2022 </p>

          </div>
        </div>
      </div>

    </div>
  </li>


</ul>